{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row divider blue">
    <div class="col-md-12"></div>
</div>
	<div class="row banner main">
		<div class="col-md-1"></div>
		<div class="col-md-11 padding-none">
			<h1>Catalog App</h1>
		</div>
	</div>


	
	<div class="row">
		<div class="col-md-6 col-md-offset-1 padding-top">
			<form action="#" method = "post">
			
			<div class="form-group">
			<h2>Edit Item</h2>
			
			</div>
				<div class="form-group">
					<label for="title">Title:</label>
					<input type ="text" maxlength="100" class="form-control" name="title" value="{{item.title }}">
</div><div class="form-group">
					<label for="description">Description:</label>
					<textarea class="form-control" maxlength="250" rows="3" name="description">{{item.description}}</textarea>
</div><div class="form-group">
					<label for="catagory">Catagory:</label>
					</br>
						<select name="comp_select">
						<option value="{{currentCatalog.id }}">{{currentCatalog.name}}</option>
						{% for catalog in allCatalogs %}
						{% if currentCatalog.id != catalog.id%}
  <option value="{{catalog.id }}">{{catalog.name}}</option>
  {% endif%}
   {% endfor %}
 
</select> 	
					</div>
					</br>
					
						<div class="form-group">
					<button type="submit" class="button3" id="submit" type="submit">
					<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Submit</button>
					<!-- href = '{{url_for('showCatalog')}}'>
						<!--button class="btn btn-default delete" type="button">
						<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel</button>
					</a-->
					</div>
				</div>
			</form>
		</div>
	</div>
{% endblock %}
